.App {
  text-align: left;
}

.dromologiaView {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.buttonClass {
  width: 10vw;
  height: 5vh;

}

.buttons {
  margin-top: 15vh;
  height: 25vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageView {
  display: flex;
  flex-direction: column;
  
  margin: 15vh auto;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
}

@media (max-width: 800px) {
  .dromologiaView {
    flex-direction: column;
    margin-top: 5vh;
    height: 90vh;
  }
  .buttonClass {
    width: 100px;
  }
}

